<form>
  <div class="card text-center w-75 m-auto">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group m-0 row">
            <label for="staticFirstname" class="col-sm-4 col-form-label lbl-right font-weight-bold">Firstname</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="staticFirstname" [value]="user?.firstName">
            </div>
          </div>
          <div class="form-group m-0 row">
            <label for="staticLastname" class="col-sm-4 col-form-label lbl-right font-weight-bold">Lastname</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="staticLastname" [value]="user?.lastName">
            </div>
          </div>
          <div class="form-group m-0 row">
            <label for="staticEmail" class="col-sm-4 col-form-label lbl-right font-weight-bold">Email</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="user?.email">
            </div>
          </div>
          <div class="form-group m-0 row">
            <label for="staticUserType" class="col-sm-4 col-form-label lbl-right font-weight-bold">Role</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="staticUserType" [value]="user?.role">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-sm btn-secondary" [routerLink]="['/users']">Cancel</a>
    </div>
  </div>
</form>