<div class="row">
  <div class="col-sm-3 mb-4" *ngFor="let floor of floors">
    <div class="card bg-light mb-3 shadow" style="max-width: 18rem;" [routerLink]="[ '/floor/desk', floor.id]">
      <div class="card-header"> <i class="fa fa-building-o" aria-hidden="true"></i> &nbsp;{{floor.floorName}}</div>
      <div class="card-body">
        <p class="card-text"> Number of Desks : {{floor.desks.length || '0' }}</p>
        <p class="card-text"> Number of Chairs : {{floor.noOfChairs}}</p>
        <p class="card-text"> Available Chairs : {{floor.availableChairs }}</p>
      </div>
    </div>
  </div>
</div>