<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="card text-center w-50 m-auto">
    <div class="card-body">
      <div class="row ">
        <div class="col">
          <div class="form-group row required">
            <label for="chairName" class="col-sm-4 col-form-label col-form-label-sm lbl-right">Chair Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm" formControlName="chairName" name="chairName"
                id="chairName" placeholder="chairName"
                [ngClass]="{ 'is-invalid': submitted && addForm.controls['chairName'].errors }" />
            </div>
          </div>
          <div class="form-group row required">
            <label for="chairType" class="col-sm-4 col-form-label col-form-label-sm lbl-right">Chair Type</label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm" formControlName="chairType" name="chairType"
                id="chairType" placeholder="chairType"
                [ngClass]="{ 'is-invalid': submitted && addForm.controls['chairType'].errors }" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-sm btn-success">Create</button>
      |
      <a class="btn btn-sm btn-secondary" [routerLink]="['/master/chair/list', floorId ,deskId]">Cancel</a>
    </div>
  </div>
</form>